* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

body {
    margin: 0;
}

/* Search Bar */
.TextField-border-radius {
    width: 100%;
    background-color: #f7fafb;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-right-width: 0;
}

.TextField-border-radius>div {
    width: 100%;
}

.TextField-border-radius fieldset {
    border: 0;
}

.TextField-border-radius input {
    color: #607480;
}

.TextField-border-radius svg {
    fill: #1C6FD1
}

button.search-button {
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-left-width: 0;
}

<<<<<<< Updated upstream
/* MODAL */
div .MuiDialog-paper {
    background: none;
    box-shadow: none;
=======
.bg-svg {
    height: calc(100vh - 87px);
}

.bg-svg img {
    height: calc(100vh - 87px);
}

.bg-color {
    position: absolute;
    height: calc(100vh - 87px);
    background-color: #002e47;
    left: 0;
    bottom: 0;
    width: 100vw;
    z-index: -1;
>>>>>>> Stashed changes
}